Repository adobe/leonardo, pull requests merged in 2021-09, with the labels that each got.

#132 added output format Theme.contrastColorPairs
  packages/contrast-colors/README.md
  packages/contrast-colors/test/theme.test.js
  packages/contrast-colors/theme.js
Labels: enhancement, npm packages

#130 Performance improvements
  packages/contrast-colors/backgroundcolor.js
  packages/contrast-colors/chroma-plus.js
  packages/contrast-colors/color.js
  packages/contrast-colors/curve.js
  packages/contrast-colors/test/theme.test.js
  packages/contrast-colors/utils.js
Labels: enhancement, npm packages

#135 calling createScale to generate theme ramp
  packages/ui/src/theme.js
Labels: bug, UI

#136 npm & yarn updates
  packages/ui/package-lock.json
  packages/ui/package.json
  yarn.lock
Labels: dependencies

#139 Theme saturation
  packages/contrast-colors/README.md
  packages/contrast-colors/package-lock.json
  packages/contrast-colors/test/colorSetters.test.js
  packages/contrast-colors/test/theme.test.js
  packages/contrast-colors/test/themeSetters.test.js
  packages/contrast-colors/theme.js
Labels: enhancement, npm packages
